---
layout: project
title: Welcome
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  / Main hero unit for a primary marketing message or call to action
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    / Carousel items
    .carousel-inner
      .active.item
        %img(src="images/carousel_img1.png")
      .item
        %img(src="images/carousel_img2.png")
      .item
        %img(src="images/carousel_img3.png")
      .item
        %img(src="images/carousel_img4.png")
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

.row-fluid
  .hero-unit
    %h1 
      %i.icon-heart
      Sponsor Us!
      %a{:href => "http://www.indiegogo.com/projects/banjulbound", :role => "button", :target => "_NEW"}
        %img{:src => "http://www.indiegogo.com/assets/igg_logo_color_print_black_v.jpg", :height => "60px", :width => "60px", :class=>"pull-right"}
    Sponsoring us will do wonders to your feel-good factor, your karma and most importantly, your bragging rights.
    We're not asking for much.  Our target is a miniscule 
    %b &pound; 3,600,
    over and above our own individual contributions, however the more we can raise for charity the better.  We prefer donations through our 
    %b IndieGogo
    campaign page.
    %br
    %a.btn.btn-primary{:href => "http://www.indiegogo.com/projects/banjulbound", :role => "button", :target => "_NEW", :class=>"pull-right"}
      %i.icon-money
      &nbsp;&nbsp;Donate&nbsp;&nbsp;
      %i.icon-money



/ section containing blog posts
.row-fluid.posts
  .span8.well
    .row-fluid
      .span7
        %h2 
          %i.icon-rocket    
          What this is about?
        %p      
          Every year, resourceful and highly spirited adventure-loving kooks all over the world come together
          and form groups that will go on an epic voyage across Europe and West
          Africa. In a car worth just a few hundred pounds/euros they will drive
          from Plymouth, England to Banjul, the Gambia in pursuit of adventure, fortune, glory, 
          raising money for good causes and perhaps have a some fun
          encounters along the way that may involve lions. If (and that is a
          big IF) they manage to get across Europe and  through the rugged
          terrain of Africa without being eaten by lions, what is left of the
          car (after it survives the 3,700 mile/5,920 km journey) is flogged to
          the highest bidder in an auction in Banjul, with proceeds going to charity.
        %p
          Read more about the challenge 
          %a(href="http://www.dakarchallenge.co.uk/challenge/banjul+challenge/") here.
        %p
          %iframe(width="730" height="315" src="//www.youtube.com/embed/ZR7Nl0snkOk" frameborder="0" allowfullscreen="true")

      .span5
        %a(name = "team")
        %h2
          %i.icon-group
          Meet the team!
        %p          
          - site.people.each do |name, p|
            %p
              %a{"data-toggle" => "modal", :href => "#" + name, :role => "button"}
                %i.icon-user
                #{p['full_name']}

            = partial(p["profile_partial"])
      
        
    %br
    %h2
      %i.icon-trophy
      Why are we doing this?
    %p
      Why did Mallory and Irvine attempt to climb Everest? Why did Amundsen
      and Scott race to the south pole? Why did Justin Esch and Dave Lefkow
      go beyond bacon-salt to invent 
      %a(href="http://en.wikipedia.org/wiki/Baconnaise" target="_blank")Baconnaise?
      Because it was a damn cool thing to do and the result was awesome!
    %p
      Okay, more realistically, it's to raise money for
      %a(href="http://www.actionaid.org" target="_blank") ActionAid,
      our chosen charity. ActionAid focuses on the people that others forget.
      People in poverty. People who face discrimination. People whose voices
      are ignored.
    %p
      ActionAid helps people fight for the rights that they are denied. Simple things,
      like the right to eat. The right to stay on their land. To an education. To have a
      say in the decisions that shape their lives.

  .span4.well
    %h2
      %i.icon-map-marker
      Our route
    %iframe{:width=>"281", :height=>"488", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"http://maps.google.com/maps/ms?ie=UTF8&amp;t=h&amp;msa=0&amp;msid=101230591946158674259.000482153d1f1e74501c0&amp;ll=35.603719,-3.691406&amp;spn=66.98357,49.21875&amp;z=3&amp;output=embed"}
  
%br
.row-fluid.posts
  = partial( 'blog.html.haml' )
  = partial( 'facebook.html.haml' )
  = partial( 'tweets.html.haml' )

